.heroBox {
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #727272;
}


.hero {
  background-color: #4388ff;
}

.villian {
  background-color: #349842;
}
